.sinoui-pdf-commemt-icon-wrapper,
.sinoui-pdf-commemt-icon-wrapper--isMoving {
  display: inline-block;
  background-color: #ffffaa;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
}

.sinoui-pdf-commemt-icon-wrapper:focus {
  background-color: #ffff00;
}

.sinoui-pdf-commemt-icon-wrapper--isMoving {
  opacity: 0.6;
}
