.sinoui-pdf-viewer-wrapper {
  background-color: #565656;
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
}

.sinoui-pdf-viewer-wrapper > .sinoui-pdf-viewer-content {
  width: 816px;
  margin: 8px auto;
  box-sizing: border-box;
  position: relative;
}

.sinoui-pdf-viewer-wrapper .react-pdf__Page {
  padding: 8px 0;
}

.sinoui-pdf-viewer-wrapper .pdf-text-annotation {
  background-color: #ffcc66;
  opacity: 0.4;
  cursor: pointer;
  outline: none;
}

.sinoui-pdf-viewer-wrapper__icon-wrapper {
  margin-left: 16px;
}

.sinoui-pdf-viewer-content__scrollbar > div:first-child {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
