.sinoui-pdf-viewer-wrapper {
  background-color: #565656;
  overflow: auto;
  max-height: 100vh;
}

.sinoui-pdf-viewer-wrapper > div {
  width: 816px;
  margin: 8px auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
}

.sinoui-pdf-viewer-wrapper .react-pdf__Page {
  padding: 8px 0;
}

.sinoui-pdf-viewer-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}

.sinoui-pdf-viewer-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
